In [1]:
#데이터 전처리: 인코딩(Encoding)

In [92]:
#인코딩(Encoding)이란?
#인코딩은 범주형 데이터(Categorical Data)를 수치형 데이터로 변환하는 과정.
#많은 머신러닝 모델은 수치형 데이터만 처리할 수 있기 때문에, 범주형 데이터를 인코딩하는 것이 필수적.

In [95]:
#레이블 인코딩(Label Encoding)
#레이블 인코딩은 범주형 데이터를 순서가 있는 숫자로 변환.
# 각 범주에 고유한 숫자가 할당.

In [97]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder

#예시 데이터프레임 생성
data = {'과일': ['사과', '바나나', '사과', '오렌지', '바나나']}
df = pd.DataFrame(data)

#레이블 인코딩
label_encoder = LabelEncoder()
df['과일_인코딩'] = label_encoder.fit_transform(df['과일'])

In [99]:
#출력
df

    과일  과일_인코딩
0   사과       1
1  바나나       0
2   사과       1
3  오렌지       2
4  바나나       0

In [101]:
#사과는 0, 바나나는 1, 오렌지는 2로 인코딩

In [103]:
# 레이블 인코딩의 주의점

# 레이블 인코딩은 범주형 데이터에 순서가 있을 때 적합.
# 순서가 없는 데이터에 사용하면, 모델이 값을 크기로 인식해 잘못된 결과를 초래할 수 있음.

In [106]:
#원-핫 인코딩(One-Hot Encoding)
#원-핫 인코딩은 각 범주를 이진 벡터로 변환. 각 범주는 고유한 열을 가지며, 해당하는 열에는 1, 나머지 열에는 0이 할당.

In [108]:
#원-핫 인코딩
df_one_hot = pd.get_dummies(df['과일'], prefix='과일')

# 정수형(int)으로 변환
df_one_hot = df_one_hot.astype(int)

In [110]:
#출력
print(df_one_hot)

   과일_바나나  과일_사과  과일_오렌지
0       0      1       0
1       1      0       0
2       0      1       0
3       0      0       1
4       1      0       0

In [ ]:
#원-핫 인코딩의 장점
#범주형 데이터에 순서가 없을 때 사용하기 좋음.
#모델이 범주 간의 순서나 관계를 인식하지 않고 각 범주를 독립적으로 처리할 수 있음.

In [113]:
#차원 축소 인코딩(Count or Frequency Encoding)
#차원 축소 인코딩은 범주형 데이터가 많을 때 유용함.
#각 범주를 데이터셋 내에서의 출현 빈도로 인코딩함.

In [115]:
#빈도 기반 인코딩
df['과일_빈도'] = df['과일'].map(df['과일'].value_counts())

In [117]:
#출력
df

    과일  과일_인코딩  과일_빈도
0   사과       1      2
1  바나나       0      2
2   사과       1      2
3  오렌지       2      1
4  바나나       0      2

In [119]:
#주의
#이 방법은 범주형 데이터의 빈도가 매우 중요한 경우에 적합하며, 범주의 고유성을 잃을 수 있으므로 주의해서 사용해야함.

In [122]:
#순서형 인코딩(Ordinal Encoding)
#순서형 인코딩은 순서가 있는 범주형 데이터를 그 순서에 따라 숫자로 변환하는 형식

In [124]:
#예시 데이터
data = {'등급': ['낮음','중간','높음','중간','높음']}
df = pd.DataFrame(data)

#순서형 인코딩
order = {'낮음': 1, '중간': 2, '높음': 3}
df['등급_인코딩'] = df['등급'].map(order)

In [126]:
#출력
df

   등급  등급_인코딩
0  낮음       1
1  중간       2
2  높음       3
3  중간       2
4  높음       3

In [128]:
#사용 예시
#순서형 인코딩은 만족도(낮음, 중간, 높음), 등급(A,B,C) 등 순서가 중요한 경우에 적합.

In [133]:
#임베딩(Embedding)
#임베딩은 딥러닝에서 주로 사용되며, 범주형 데이터를 벡터 공간에 매핑하여 변환.
#아눈 툭하 고차원 범주형 데이터에서 유용.

In [136]:
#임베딩의 장점
# 원-핫 인코딩보다 차원 축소와 메모리 절약 효과가 있으며, 범주 간의 내재된 관계를 학습할 수 있음.

#임베딩은 주로 텍스트 데이터에서 단어를 벡터로 변환할 때 사용되며, Keras 등의 라이브러리에서 쉽게 구현할 수 있음.

In [139]:
#요약
#인코딩은 범주형 데이터를 수치형 데이터로 변환하는 과정으로, 머신러닝 모델에서 데이터를 처리하기 위해 필수적.
#레이블 인코딩은 순서가 있는 범주형 데이터에 적합하며, 원-핫 인코딩은 순서가 없는 범주형 데이터에 사용됨.
#빈도 인코딩은 범주의 출현 빈도를 사용하고, 순서형 인코딩은 순서가 중요한 범주형 데이터에 유용.
#임베딩은 딥러닝에서 고차원 범주형 데이터를 처리할 때 주로 사용.