# 2Ï£ºÏ∞® Ïù¥ÏÉÅÏ≤òÎ¶¨Ïóê Ï†ÅÌï©Ìïú Í∞ÄÏÉÅ Îç∞Ïù¥ÌÑ∞Î•º ÌôúÏö©Ìïú Îç∞Ïù¥ÌÑ∞ ÌÅ¥Î¶¨Îãù

### 1. Î¨∏Ï†ú ÌíÄÏù¥ Ï§ÄÎπÑ

Î®ºÏ†Ä, Îã§ÏñëÌïú Ï†ÑÏ≤òÎ¶¨ Í∏∞Î≤ïÏùÑ Ï†ÅÏö©Ìï† Ïàò ÏûàÎäî Í∞ÄÏÉÅÏùò Îç∞Ïù¥ÌÑ∞Î•º Ï†úÍ≥µÌïòÍ≤†ÏäµÎãàÎã§. 

Îç∞Ïù¥ÌÑ∞Îäî Pandas DataFrame ÌòïÏãùÏúºÎ°ú Ï†úÍ≥µÌïòÎ©∞, Í∞Å Ïó¥ÏùÄ Îã§ÏùåÍ≥º Í∞ôÏùÄ ÏÜçÏÑ±ÏùÑ Í∞ÄÏßëÎãàÎã§:

- **TransactionID**: Í±∞Îûò Í≥†Ïú† ID
- **CustomerID**: Í≥†Í∞ù Í≥†Ïú† ID
- **PurchaseAmount**: Íµ¨Îß§ Í∏àÏï° (USD)
- **PurchaseDate**: Íµ¨Îß§ ÎÇ†Ïßú
- **ProductCategory**: Ï†úÌíà Ïπ¥ÌÖåÍ≥†Î¶¨ (Î≤îÏ£ºÌòï Îç∞Ïù¥ÌÑ∞)
- **CustomerAge**: Í≥†Í∞ù ÎÇòÏù¥
- **CustomerGender**: Í≥†Í∞ù ÏÑ±Î≥Ñ (Î≤îÏ£ºÌòï Îç∞Ïù¥ÌÑ∞)
- **ReviewScore**: Ï†úÌíà Î¶¨Î∑∞ Ï†êÏàò (1~5 ÏÇ¨Ïù¥Ïùò Í∞í, Í≤∞Ï∏°Í∞í Ìè¨Ìï®)

Í∞ÄÏÉÅÏùò Îç∞Ïù¥ÌÑ∞Î•º ÏÉùÏÑ±ÌïòÎäî ÌååÏù¥Ïç¨ ÏΩîÎìúÎäî Îã§ÏùåÍ≥º Í∞ôÏäµÎãàÎã§:

In [57]:
import pandas as pd
import numpy as np

# Í∞ÄÏÉÅ Îç∞Ïù¥ÌÑ∞ ÏÉùÏÑ±
data = {
    'TransactionID': range(1, 21),
    'CustomerID': [101, 102, 103, 104, 105, 106, 107, 108, 109, 110, 101, 102, 103, 104, 105, 106, 107, 108, 109, 110],
    'PurchaseAmount': [250, -50, 3000000, 450, 0, 300, 200, 150, -10, 800, 50, 75, 400, np.nan, 600, 1000, 20, 5000, 150, 80],
    'PurchaseDate': pd.date_range(start='2024-01-01', periods=20, freq='ME').tolist(),
    'ProductCategory': ['Electronics', 'Clothing', 'Electronics', 'Home', 'Electronics', 'Home', 'Clothing', 'Home', 'Clothing', 'Electronics', 'Electronics', 'Home', 'Clothing', 'Electronics', 'Home', 'Home', 'Clothing', 'Electronics', 'Home', 'Electronics'],
    'CustomerAge': [25, 35, 45, np.nan, 22, 29, 33, 41, 27, 36, 28, 34, 42, 39, 24, 30, 32, 40, 38, 26],
    'CustomerGender': ['Male', 'Female', 'Female', 'Male', 'Female', 'Male', 'Female', np.nan, 'Male', 'Female', 'Male', 'Female', 'Male', 'Female', 'Male', 'Female', 'Male', 'Female', 'Male', 'Female'],
    'ReviewScore': [5, np.nan, 4, 3, 2, 5, 3, 4, 1, 2, np.nan, 4, 5, 3, 4, np.nan, 1, 5, 2, 4]
}

df = pd.DataFrame(data)

### 2. ÏöîÍµ¨ ÏÇ¨Ìï≠

Îã§ÏùåÏùÄ Îç∞Ïù¥ÌÑ∞ Ï†ÑÏ≤òÎ¶¨Î•º ÏúÑÌïú Î¨∏Ï†úÏûÖÎãàÎã§:

1. Í≤∞Ï∏°Í∞í Ï≤òÎ¶¨:
    - `PurchaseAmount`, `CustomerAge`, `CustomerGender`, `ReviewScore` Ïó¥Ïùò Í≤∞Ï∏°Í∞íÏùÑ Ï†ÅÏ†àÌûà Ï≤òÎ¶¨ÌïòÏÑ∏Ïöî.
2. Ïù¥ÏÉÅÏπò Ï≤òÎ¶¨:
    - `PurchaseAmount` Ïó¥ÏóêÏÑú ÎπÑÏ†ïÏÉÅÏ†ÅÏúºÎ°ú ÌÅ∞ Í∞íÍ≥º ÏùåÏàò Í∞íÏùÑ Ï≤òÎ¶¨ÌïòÏÑ∏Ïöî.
3. Ï§ëÎ≥µ Îç∞Ïù¥ÌÑ∞ Ï†úÍ±∞:
    - Ï§ëÎ≥µÎêú `TransactionID`Í∞Ä ÏûàÎäî Í≤ΩÏö∞ Ï†úÍ±∞ÌïòÏÑ∏Ïöî.
4. Îç∞Ïù¥ÌÑ∞ ÌÉÄÏûÖ Î≥ÄÌôò:
    - `PurchaseDate` Ïó¥Ïùò Îç∞Ïù¥ÌÑ∞ ÌÉÄÏûÖÏùÑ ÎÇ†Ïßú ÌòïÏãùÏúºÎ°ú Î≥ÄÌôòÌïòÏÑ∏Ïöî.
5. Ï†ïÍ∑úÌôî:
    - `PurchaseAmount` Ïó¥ÏùÑ Ï†ïÍ∑úÌôîÌïòÏÑ∏Ïöî.
6. Î≤îÏ£ºÌòï Îç∞Ïù¥ÌÑ∞ ÏÑ†Î≥Ñ Î∞è Ïù∏ÏΩîÎî©:
    - `ProductCategory`ÏôÄ `CustomerGender` Ïó¥ÏùÑ Ïù∏ÏΩîÎî©ÌïòÏÑ∏Ïöî.
7. ÏÉòÌîåÎßÅ:
    - Îç∞Ïù¥ÌÑ∞Î•º Î¨¥ÏûëÏúÑÎ°ú 5Í∞ú ÏÉòÌîåÎßÅÌïòÏÑ∏Ïöî.

### **ÏàôÏ†ú Ï†ïÎ≥¥**

‚ñ† ÎÇúÏù¥ÎèÑ : üü°Ï§ë

‚ñ† Ïã§Ïäµ Î≤îÏúÑ : 2Ï£ºÏ∞®

‚ñ† ÏÇ¨Ïö© Ïñ∏Ïñ¥ Î∞è ÎùºÏù¥Î∏åÎü¨Î¶¨ : pandas, numpy

---

In [58]:
#Îç∞Ïù¥ÌÑ∞ Ï∂úÎ†•
df

,TransactionID,CustomerID,PurchaseAmount,PurchaseDate,ProductCategory,CustomerAge,CustomerGender,ReviewScore
0,1,101,250.0,2024-01-31,Electronics,25.0,Male,5.0
1,2,102,-50.0,2024-02-29,Clothing,35.0,Female,NaN
2,3,103,3000000.0,2024-03-31,Electronics,45.0,Female,4.0
3,4,104,450.0,2024-04-30,Home,NaN,Male,3.0
4,5,105,0.0,2024-05-31,Electronics,22.0,Female,2.0
5,6,106,300.0,2024-06-30,Home,29.0,Male,5.0
6,7,107,200.0,2024-07-31,Clothing,33.0,Female,3.0
7,8,108,150.0,2024-08-31,Home,41.0,NaN,4.0
8,9,109,-10.0,2024-09-30,Clothing,27.0,Male,1.0
9,10,110,800.0,2024-10-31,Electronics,36.0,Female,2.0
10,11,101,50.0,2024-11-30,Electronics,28.0,Male,NaN
11,12,102,75.0,2024-12-31,Home,34.0,Female,4.0
12,13,103,400.0,2025-01-31,Clothing,42.0,Male,5.0
13,14,104,NaN,2025-02-28,Electronics,39.0,Female,3.0
14,15,105,600.0,2025-03-31,Home,24.0,Male,4.0
15,16,106,1000.0,2025-04-30,Home,30.0,Female,NaN
16,17,107,20.0,2025-05-31,Clothing,32.0,Male,1.0
17,18,108,5000.0,2025-06-30,Electronics,40.0,Female,5.0
18,19,109,150.0,2025-07-31,Home,38.0,Male,2.0
19,20,110,80.0,2025-08-31,Electronics,26.0,Female,4.0

### 1. Í≤∞Ï∏°Í∞í Ï≤òÎ¶¨:
PurchaseAmount, CustomerAge, CustomerGender, ReviewScore Ïó¥Ïùò Í≤∞Ï∏°Í∞íÏùÑ Ï†ÅÏ†àÌûà Ï≤òÎ¶¨ÌïòÏÑ∏Ïöî.

In [59]:
#ÌèâÍ∑†Í∞íÏúºÎ°ú Í≤∞Ï∏°Ïπò Ï≤òÎ¶¨ - PurchaseAmount

#Í≤∞Ï∏°Ïπò ÌôïÏù∏
df['PurchaseAmount'].isnull()

0     False
1     False
2     False
3     False
4     False
5     False
6     False
7     False
8     False
9     False
10    False
11    False
12    False
13     True
14    False
15    False
16    False
17    False
18    False
19    False
Name: PurchaseAmount, dtype: bool

In [60]:
#Í≤∞Ï∏°Ïπò Ï≤òÎ¶¨
df['PurchaseAmount'] = df['PurchaseAmount'].fillna(df['PurchaseAmount'].mean())

#Ï∂úÎ†•
df['PurchaseAmount']

0     2.500000e+02
1    -5.000000e+01
2     3.000000e+06
3     4.500000e+02
4     0.000000e+00
5     3.000000e+02
6     2.000000e+02
7     1.500000e+02
8    -1.000000e+01
9     8.000000e+02
10    5.000000e+01
11    7.500000e+01
12    4.000000e+02
13    1.583929e+05
14    6.000000e+02
15    1.000000e+03
16    2.000000e+01
17    5.000000e+03
18    1.500000e+02
19    8.000000e+01
Name: PurchaseAmount, dtype: float64

In [61]:
#ÌèâÍ∑†Í∞íÏúºÎ°ú Í≤∞Ï∏°Ïπò Ï≤òÎ¶¨ - CustomerAge

#Í≤∞Ï∏°Ïπò ÌôïÏù∏
df['CustomerAge'].isnull()

0     False
1     False
2     False
3      True
4     False
5     False
6     False
7     False
8     False
9     False
10    False
11    False
12    False
13    False
14    False
15    False
16    False
17    False
18    False
19    False
Name: CustomerAge, dtype: bool

In [62]:
#Í≤∞Ï∏°Ïπò Ï≤òÎ¶¨
df['CustomerAge'] = df['CustomerAge'].fillna(df['CustomerAge'].mean())

#Ï∂úÎ†•
df['CustomerAge']

0     25.000000
1     35.000000
2     45.000000
3     32.947368
4     22.000000
5     29.000000
6     33.000000
7     41.000000
8     27.000000
9     36.000000
10    28.000000
11    34.000000
12    42.000000
13    39.000000
14    24.000000
15    30.000000
16    32.000000
17    40.000000
18    38.000000
19    26.000000
Name: CustomerAge, dtype: float64

In [63]:
#ÏµúÎπàÍ∞íÏúºÎ°ú Í≤∞Ï∏°Ïπò Ï≤òÎ¶¨ - CustomerGender

#Í≤∞Ï∏°Ïπò ÌôïÏù∏
df['CustomerGender'].isnull()

0     False
1     False
2     False
3     False
4     False
5     False
6     False
7      True
8     False
9     False
10    False
11    False
12    False
13    False
14    False
15    False
16    False
17    False
18    False
19    False
Name: CustomerGender, dtype: bool

In [64]:
#Í≤∞Ï∏°Ïπò Ï≤òÎ¶¨
df['CustomerGender'] = df['CustomerGender'].fillna(df['CustomerGender'].mode()[0])

#Ï∂úÎ†•
df['CustomerGender']

0       Male
1     Female
2     Female
3       Male
4     Female
5       Male
6     Female
7     Female
8       Male
9     Female
10      Male
11    Female
12      Male
13    Female
14      Male
15    Female
16      Male
17    Female
18      Male
19    Female
Name: CustomerGender, dtype: object

In [65]:
#ÌèâÍ∑†Í∞íÏúºÎ°ú Í≤∞Ï∏°Ïπò Ï≤òÎ¶¨ - ReviewScore

#Í≤∞Ï∏°Ïπò ÌôïÏù∏
df['ReviewScore'].isnull()

0     False
1      True
2     False
3     False
4     False
5     False
6     False
7     False
8     False
9     False
10     True
11    False
12    False
13    False
14    False
15     True
16    False
17    False
18    False
19    False
Name: ReviewScore, dtype: bool

In [66]:
#Í≤∞Ï∏°Ïπò Ï≤òÎ¶¨
df['ReviewScore'] = df['ReviewScore'].fillna(df['ReviewScore'].mean())

#Ï∂úÎ†•
df['ReviewScore']

0     5.000000
1     3.352941
2     4.000000
3     3.000000
4     2.000000
5     5.000000
6     3.000000
7     4.000000
8     1.000000
9     2.000000
10    3.352941
11    4.000000
12    5.000000
13    3.000000
14    4.000000
15    3.352941
16    1.000000
17    5.000000
18    2.000000
19    4.000000
Name: ReviewScore, dtype: float64

---

### 2. Ïù¥ÏÉÅÏπò Ï≤òÎ¶¨:
PurchaseAmount Ïó¥ÏóêÏÑú ÎπÑÏ†ïÏÉÅÏ†ÅÏúºÎ°ú ÌÅ∞ Í∞íÍ≥º ÏùåÏàò Í∞íÏùÑ Ï≤òÎ¶¨ÌïòÏÑ∏Ïöî.

In [67]:
#Îç∞Ïù¥ÌÑ∞ Ï∂úÎ†•
df['PurchaseAmount']

0     2.500000e+02
1    -5.000000e+01
2     3.000000e+06
3     4.500000e+02
4     0.000000e+00
5     3.000000e+02
6     2.000000e+02
7     1.500000e+02
8    -1.000000e+01
9     8.000000e+02
10    5.000000e+01
11    7.500000e+01
12    4.000000e+02
13    1.583929e+05
14    6.000000e+02
15    1.000000e+03
16    2.000000e+01
17    5.000000e+03
18    1.500000e+02
19    8.000000e+01
Name: PurchaseAmount, dtype: float64

In [68]:
#Ïù¥ÏÉÅÏπò Ï≤òÎ¶¨
#ÏùåÏàòÍ∞í Ï†úÍ±∞
df = df[df['PurchaseAmount'] >= 0]

#PurchaseAmountÏùò ÎπÑÏ†ïÏÉÅÏ†ÅÏúºÎ°ú ÌÅ∞ Í∞í Ï†úÍ±∞ (Ïòà: 1,000,000 Ïù¥ÏÉÅ)
df = df[df['PurchaseAmount'] < 1000000]

df

,TransactionID,CustomerID,PurchaseAmount,PurchaseDate,ProductCategory,CustomerAge,CustomerGender,ReviewScore
0,1,101,250.000000,2024-01-31,Electronics,25.000000,Male,5.000000
3,4,104,450.000000,2024-04-30,Home,32.947368,Male,3.000000
4,5,105,0.000000,2024-05-31,Electronics,22.000000,Female,2.000000
5,6,106,300.000000,2024-06-30,Home,29.000000,Male,5.000000
6,7,107,200.000000,2024-07-31,Clothing,33.000000,Female,3.000000
7,8,108,150.000000,2024-08-31,Home,41.000000,Female,4.000000
9,10,110,800.000000,2024-10-31,Electronics,36.000000,Female,2.000000
10,11,101,50.000000,2024-11-30,Electronics,28.000000,Male,3.352941
11,12,102,75.000000,2024-12-31,Home,34.000000,Female,4.000000
12,13,103,400.000000,2025-01-31,Clothing,42.000000,Male,5.000000
13,14,104,158392.894737,2025-02-28,Electronics,39.000000,Female,3.000000
14,15,105,600.000000,2025-03-31,Home,24.000000,Male,4.000000
15,16,106,1000.000000,2025-04-30,Home,30.000000,Female,3.352941
16,17,107,20.000000,2025-05-31,Clothing,32.000000,Male,1.000000
17,18,108,5000.000000,2025-06-30,Electronics,40.000000,Female,5.000000
18,19,109,150.000000,2025-07-31,Home,38.000000,Male,2.000000
19,20,110,80.000000,2025-08-31,Electronics,26.000000,Female,4.000000

---

### 3. Ï§ëÎ≥µ Îç∞Ïù¥ÌÑ∞ Ï†úÍ±∞:
Ï§ëÎ≥µÎêú TransactionIDÍ∞Ä ÏûàÎäî Í≤ΩÏö∞ Ï†úÍ±∞ÌïòÏÑ∏Ïöî.

In [69]:
#Îç∞Ïù¥ÌÑ∞ Ï∂úÎ†•
df['TransactionID']

0      1
3      4
4      5
5      6
6      7
7      8
9     10
10    11
11    12
12    13
13    14
14    15
15    16
16    17
17    18
18    19
19    20
Name: TransactionID, dtype: int64

In [70]:
#Ï§ëÎ≥µÍ∞í Ï†úÍ±∞
df = df.drop_duplicates(subset = 'TransactionID')

#Ï∂úÎ†•
df

,TransactionID,CustomerID,PurchaseAmount,PurchaseDate,ProductCategory,CustomerAge,CustomerGender,ReviewScore
0,1,101,250.000000,2024-01-31,Electronics,25.000000,Male,5.000000
3,4,104,450.000000,2024-04-30,Home,32.947368,Male,3.000000
4,5,105,0.000000,2024-05-31,Electronics,22.000000,Female,2.000000
5,6,106,300.000000,2024-06-30,Home,29.000000,Male,5.000000
6,7,107,200.000000,2024-07-31,Clothing,33.000000,Female,3.000000
7,8,108,150.000000,2024-08-31,Home,41.000000,Female,4.000000
9,10,110,800.000000,2024-10-31,Electronics,36.000000,Female,2.000000
10,11,101,50.000000,2024-11-30,Electronics,28.000000,Male,3.352941
11,12,102,75.000000,2024-12-31,Home,34.000000,Female,4.000000
12,13,103,400.000000,2025-01-31,Clothing,42.000000,Male,5.000000
13,14,104,158392.894737,2025-02-28,Electronics,39.000000,Female,3.000000
14,15,105,600.000000,2025-03-31,Home,24.000000,Male,4.000000
15,16,106,1000.000000,2025-04-30,Home,30.000000,Female,3.352941
16,17,107,20.000000,2025-05-31,Clothing,32.000000,Male,1.000000
17,18,108,5000.000000,2025-06-30,Electronics,40.000000,Female,5.000000
18,19,109,150.000000,2025-07-31,Home,38.000000,Male,2.000000
19,20,110,80.000000,2025-08-31,Electronics,26.000000,Female,4.000000

---

### 4. Îç∞Ïù¥ÌÑ∞ ÌÉÄÏûÖ Î≥ÄÌôò:
PurchaseDate Ïó¥Ïùò Îç∞Ïù¥ÌÑ∞ ÌÉÄÏûÖÏùÑ ÎÇ†Ïßú ÌòïÏãùÏúºÎ°ú Î≥ÄÌôòÌïòÏÑ∏Ïöî.

In [71]:
#Îç∞Ïù¥ÌÑ∞ ÌÉÄÏûÖ Î≥ÄÌôò
df['PurchaseDate'] = pd.to_datetime(df['PurchaseDate'])

#Ï∂úÎ†•
df['PurchaseDate']

0    2024-01-31
3    2024-04-30
4    2024-05-31
5    2024-06-30
6    2024-07-31
7    2024-08-31
9    2024-10-31
10   2024-11-30
11   2024-12-31
12   2025-01-31
13   2025-02-28
14   2025-03-31
15   2025-04-30
16   2025-05-31
17   2025-06-30
18   2025-07-31
19   2025-08-31
Name: PurchaseDate, dtype: datetime64[ns]

---

### 5. Ï†ïÍ∑úÌôî:
PurchaseAmount Ïó¥ÏùÑ Ï†ïÍ∑úÌôîÌïòÏÑ∏Ïöî.

In [72]:
#Îç∞Ïù¥ÌÑ∞ Ï∂úÎ†•
df['PurchaseAmount']

0        250.000000
3        450.000000
4          0.000000
5        300.000000
6        200.000000
7        150.000000
9        800.000000
10        50.000000
11        75.000000
12       400.000000
13    158392.894737
14       600.000000
15      1000.000000
16        20.000000
17      5000.000000
18       150.000000
19        80.000000
Name: PurchaseAmount, dtype: float64

In [76]:
#Ï†ïÍ∑úÌôî ÏßÑÌñâ
from sklearn.preprocessing import MinMaxScaler

scaler = MinMaxScaler()

df['PurchaseAmount'] = scaler.fit_transform(df[['PurchaseAmount']])

In [77]:
#Ï∂úÎ†•
df['PurchaseAmount']

0     0.001578
3     0.002841
4     0.000000
5     0.001894
6     0.001263
7     0.000947
9     0.005051
10    0.000316
11    0.000474
12    0.002525
13    1.000000
14    0.003788
15    0.006313
16    0.000126
17    0.031567
18    0.000947
19    0.000505
Name: PurchaseAmount, dtype: float64

---

### 6. Î≤îÏ£ºÌòï Îç∞Ïù¥ÌÑ∞ ÏÑ†Î≥Ñ Î∞è Ïù∏ÏΩîÎî©:
ProductCategoryÏôÄ CustomerGender Ïó¥ÏùÑ Ïù∏ÏΩîÎî©ÌïòÏÑ∏Ïöî.

In [81]:
from sklearn.preprocessing import LabelEncoder

encoder = LabelEncoder()
df['ProductCategory'] = encoder.fit_transform(df['ProductCategory'])
df['CustomerGender'] = encoder.fit_transform(df['CustomerGender'])

In [83]:
#Ï∏®Î†• - ProductCategory
df['ProductCategory']

0     1
3     2
4     1
5     2
6     0
7     2
9     1
10    1
11    2
12    0
13    1
14    2
15    2
16    0
17    1
18    2
19    1
Name: ProductCategory, dtype: int64

In [84]:
#Ï∂úÎ†• - CustomerGender
df['CustomerGender']

0     1
3     1
4     0
5     1
6     0
7     0
9     0
10    1
11    0
12    1
13    0
14    1
15    0
16    1
17    0
18    1
19    0
Name: CustomerGender, dtype: int64

---

### 7. ÏÉòÌîåÎßÅ:
Îç∞Ïù¥ÌÑ∞Î•º Î¨¥ÏûëÏúÑÎ°ú 5Í∞ú ÏÉòÌîåÎßÅÌïòÏÑ∏Ïöî.

In [86]:
#ÏÉòÌîåÎßÅ
sampled_df = df.sample(n=5, random_state=42)

In [87]:
#Ï∂úÎ†•
df

,TransactionID,CustomerID,PurchaseAmount,PurchaseDate,ProductCategory,CustomerAge,CustomerGender,ReviewScore
0,1,101,0.001578,2024-01-31,1,25.000000,1,5.000000
3,4,104,0.002841,2024-04-30,2,32.947368,1,3.000000
4,5,105,0.000000,2024-05-31,1,22.000000,0,2.000000
5,6,106,0.001894,2024-06-30,2,29.000000,1,5.000000
6,7,107,0.001263,2024-07-31,0,33.000000,0,3.000000
7,8,108,0.000947,2024-08-31,2,41.000000,0,4.000000
9,10,110,0.005051,2024-10-31,1,36.000000,0,2.000000
10,11,101,0.000316,2024-11-30,1,28.000000,1,3.352941
11,12,102,0.000474,2024-12-31,2,34.000000,0,4.000000
12,13,103,0.002525,2025-01-31,0,42.000000,1,5.000000
13,14,104,1.000000,2025-02-28,1,39.000000,0,3.000000
14,15,105,0.003788,2025-03-31,2,24.000000,1,4.000000
15,16,106,0.006313,2025-04-30,2,30.000000,0,3.352941
16,17,107,0.000126,2025-05-31,0,32.000000,1,1.000000
17,18,108,0.031567,2025-06-30,1,40.000000,0,5.000000
18,19,109,0.000947,2025-07-31,2,38.000000,1,2.000000
19,20,110,0.000505,2025-08-31,1,26.000000,0,4.000000

In [88]:
#ÏÉòÌîåÎßÅ Îç∞Ïù¥ÌÑ∞ Ï∂úÎ†•
sampled_df

,TransactionID,CustomerID,PurchaseAmount,PurchaseDate,ProductCategory,CustomerAge,CustomerGender,ReviewScore
0,1,101,0.001578,2024-01-31,1,25.000000,1,5.0
3,4,104,0.002841,2024-04-30,2,32.947368,1,3.0
7,8,108,0.000947,2024-08-31,2,41.000000,0,4.0
18,19,109,0.000947,2025-07-31,2,38.000000,1,2.0
14,15,105,0.003788,2025-03-31,2,24.000000,1,4.0