# 3ì£¼ì°¨ íƒ€ì´íƒ€ë‹‰ ë°ì´í„°ì…‹ê³¼ ë‹¤ì–‘í•œ ë¶„ë¥˜ëª¨ë¸ ë¹„êµ ì‹¤ìŠµ

ì ì´ë²ˆì—ëŠ” ì €í¬ê°€ ë°°ìš´ ì§€ë„í•™ìŠµ ëª¨ë¸ì˜ ë¶„ë¥˜ëª¨ë¸ì„ ë‹¤ì–‘í•˜ê²Œ ë¹„êµí•´ë³¼ê¹Œìš”?

### ìš”êµ¬ ì‚¬í•­

1. ìºê¸€ì—ì„œ íƒ€ì´íƒ€ë‹‰ ë°ì´í„°ì…‹ì„ ë‹¤ì–‘í•œ ë°©ë²•ìœ¼ë¡œ ë‹¤ìš´ë¡œë“œ í›„ ë¡œë“œí•´ì£¼ì„¸ìš”
(https://raw.githubusercontent.com/datasciencedojo/datasets/master/titanic.csv)
2. ì´ì „ê³¼ì œì˜ ì½”ë“œë¥¼ ì‚¬ìš©í•´ ì „ì²˜ë¦¬ë¥¼ ì§„í–‰í•˜ê³  íƒ€ê²Ÿ ì¦‰ ë ˆì´ë¸” ë¶„ë¦¬ ì‘ì—…ì„ í•´ë´…ì‹œë‹¤.
3. 3ê°œ ì´ìƒì˜ ë¶„ë¥˜ëª¨ë¸ì„ ë§Œë“¤ì–´ì£¼ì„¸ìš”
4. ì„±ëŠ¥ì„ ë¹„êµí•´ë³¼ê¹Œìš”?

### **ìˆ™ì œ ì •ë³´**

â–  ë‚œì´ë„ : ğŸŸ¡ì¤‘

â–  ì‹¤ìŠµ ë²”ìœ„ : 3ì£¼ì°¨

â–  ì‚¬ìš© ì–¸ì–´ ë° ë¼ì´ë¸ŒëŸ¬ë¦¬ : scikit-learn, pandas

In [12]:
#í•„ìš” ë¼ì´ë¸ŒëŸ¬ë¦¬ ì„í¬íŠ¸
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.impute import SimpleImputer

In [13]:
#ë°ì´í„° ë¡œë“œ
train_data = pd.read_csv('https://raw.githubusercontent.com/datasciencedojo/datasets/master/titanic.csv')

In [14]:
#ë°ì´í„° ì¶œë ¥
train_data

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [ ]:
#í•„ìš”í•œ ì—´ ì„ íƒ ë° ì „ì²˜ë¦¬
df = train_data[['Survived', 'Pclass', 'Age', 'SibSp', 'Parch', 'Fare']]
df.loc[:, 'Age'] = df['Age'].fillna(df['Age'].mean())
X = df.drop('Survived', axis=1)
y = df['Survived']

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [9]:
#ë¼ì´ë¸ŒëŸ¬ë¦¬ ì„í¬íŠ¸
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.svm import SVC
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import accuracy_score, precision_score, recall_score, f1_score

#ëª¨ë¸ ì •ì˜
models = {
    'LogisticRegression': LogisticRegression(max_iter=200),
    'Decision Tree': DecisionTreeClassifier(),
    'Random Forest': RandomForestClassifier(),
    'Support Vector Machine': SVC(),
    'K-Nearest Neighbors': KNeighborsClassifier()
}

In [15]:
# ëª¨ë¸ í•™ìŠµ ë° í‰ê°€
results = {} #ë¹ˆ ë”•ì…”ë„ˆë¦¬ resultsë¥¼ ì •ì˜. ì´ ë”•ì…”ë„ˆë¦¬ëŠ” ê° ëª¨ë¸ì˜ ì„±ëŠ¥ ì§€í‘œ(Accuracy, Precision, Recall, F1 Score)ë¥¼ ì €ì¥í•˜ëŠ”ë° ì‚¬ìš©
for model_name, model in models.items(): #models ë”•ì…”ë„ˆë¦¬ì— ì €ì¥ëœ . ê° ëª¨ë¸ê³¼ ì´ë¦„ì„ ìˆœíšŒí•˜ë©° í•™ìŠµ ë° í‰ê°€ ì§„í–‰. model_name: ëª¨ë¸ì˜ ì´ë¦„, model: í•´ë‹¹ ëª¨ë¸ ê°ì²´
    model.fit(X_train, y_train) #ëª¨ë¸ í•™ìŠµ - X_train: í•™ìŠµ ë°ì´í„°ì˜ íŠ¹ì„±(ì…ë ¥), y_train: í•™ìŠµ ë°ì´í„°ì˜ ëª©í‘œê°’(ì¶œë ¥)
    y_pred = model.predict(X_test) #í•™ìŠµ ëª¨ë¸ì„ ì‚¬ìš©í•˜ì—¬ í…ìŠ¤íŠ¸ ë°ì´í„° X_testì— ëŒ€í•œ ì˜ˆì¸¡ ìˆ˜í–‰. y_predëŠ” ì‹¤ì œ ì •ë‹µ y_testì™€ ë¹„êµí•˜ì—¬ ëª¨ë¸ì˜ ì„±ëŠ¥ì„ í‰ê°€í•˜ëŠ”ë° ì‚¬ìš©.
    
    results[model_name] = {
        'Accuracy': accuracy_score(y_test, y_pred),
        'Precision': precision_score(y_test, y_pred),
        'Recall': recall_score(y_test, y_pred),
        'F1 Score': f1_score(y_test, y_pred)
    }

results_df = pd.DataFrame(results).T


results_df

                        Accuracy  Precision    Recall  F1 Score
LogisticRegression      0.731844   0.770833  0.500000  0.606557
Decision Tree           0.625698   0.555556  0.472973  0.510949
Random Forest           0.715084   0.676923  0.594595  0.633094
Support Vector Machine  0.653631   0.750000  0.243243  0.367347
K-Nearest Neighbors     0.675978   0.642857  0.486486  0.553846