# 3Ï£ºÏ∞® ÌÉÄÏù¥ÌÉÄÎãâ Îç∞Ïù¥ÌÑ∞ÏÖãÍ≥º Îã§ÏñëÌïú Î∂ÑÎ•òÎ™®Îç∏ ÎπÑÍµê Ïã§Ïäµ

Ïûê Ïù¥Î≤àÏóêÎäî Ï†ÄÌù¨Í∞Ä Î∞∞Ïö¥ ÏßÄÎèÑÌïôÏäµ Î™®Îç∏Ïùò Î∂ÑÎ•òÎ™®Îç∏ÏùÑ Îã§ÏñëÌïòÍ≤å ÎπÑÍµêÌï¥Î≥ºÍπåÏöî?

### ÏöîÍµ¨ ÏÇ¨Ìï≠

1. Ï∫êÍ∏ÄÏóêÏÑú ÌÉÄÏù¥ÌÉÄÎãâ Îç∞Ïù¥ÌÑ∞ÏÖãÏùÑ Îã§ÏñëÌïú Î∞©Î≤ïÏúºÎ°ú Îã§Ïö¥Î°úÎìú ÌõÑ Î°úÎìúÌï¥Ï£ºÏÑ∏Ïöî
(https://raw.githubusercontent.com/datasciencedojo/datasets/master/titanic.csv)
2. Ïù¥Ï†ÑÍ≥ºÏ†úÏùò ÏΩîÎìúÎ•º ÏÇ¨Ïö©Ìï¥ Ï†ÑÏ≤òÎ¶¨Î•º ÏßÑÌñâÌïòÍ≥† ÌÉÄÍ≤ü Ï¶â Î†àÏù¥Î∏î Î∂ÑÎ¶¨ ÏûëÏóÖÏùÑ Ìï¥Î¥ÖÏãúÎã§.
3. 3Í∞ú Ïù¥ÏÉÅÏùò Î∂ÑÎ•òÎ™®Îç∏ÏùÑ ÎßåÎì§Ïñ¥Ï£ºÏÑ∏Ïöî
4. ÏÑ±Îä•ÏùÑ ÎπÑÍµêÌï¥Î≥ºÍπåÏöî?

### **ÏàôÏ†ú Ï†ïÎ≥¥**

‚ñ† ÎÇúÏù¥ÎèÑ : üü°Ï§ë

‚ñ† Ïã§Ïäµ Î≤îÏúÑ : 3Ï£ºÏ∞®

‚ñ† ÏÇ¨Ïö© Ïñ∏Ïñ¥ Î∞è ÎùºÏù¥Î∏åÎü¨Î¶¨ : scikit-learn, pandas

In [14]:
#ÌïÑÏöî ÎùºÏù¥Î∏åÎü¨Î¶¨ ÏûÑÌè¨Ìä∏
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.impute import SimpleImputer

In [15]:
#Îç∞Ïù¥ÌÑ∞ Î°úÎìú
train_data = pd.read_csv('https://raw.githubusercontent.com/datasciencedojo/datasets/master/titanic.csv')

In [16]:
#Îç∞Ïù¥ÌÑ∞ Ï∂úÎ†•
train_data

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [17]:
#ÌïÑÏöîÌïú Ïó¥ ÏÑ†ÌÉù Î∞è Ï†ÑÏ≤òÎ¶¨
df = train_data[['Survived', 'Pclass', 'Age', 'SibSp', 'Parch', 'Fare']]
df.loc[:, 'Age'] = df['Age'].fillna(df['Age'].mean())
X = df.drop('Survived', axis=1)
y = df['Survived']

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [20]:
#ÎùºÏù¥Î∏åÎü¨Î¶¨ ÏûÑÌè¨Ìä∏
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.svm import SVC
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import accuracy_score, precision_score, recall_score, f1_score

#Î™®Îç∏ Ï†ïÏùò
models = {
    'LogisticRegression': LogisticRegression(max_iter=200),
    'Decision Tree': DecisionTreeClassifier(),
    'Random Forest': RandomForestClassifier(),
    'Support Vector Machine': SVC(),
    'K-Nearest Neighbors': KNeighborsClassifier()
}

In [22]:
# Î™®Îç∏ ÌïôÏäµ Î∞è ÌèâÍ∞Ä
results = {}
for model_name, model in models.items():
    model.fit(X_train, y_train)
    y_pred = model.predict(X_test)
    
    results[model_name] = {
        'Accuracy': accuracy_score(y_test, y_pred),
        'Precision': precision_score(y_test, y_pred),
        'Recall': recall_score(y_test, y_pred),
        'F1 Score': f1_score(y_test, y_pred)
    }

results_df = pd.DataFrame(results).T


results_df

                        Accuracy  Precision    Recall  F1 Score
LogisticRegression      0.731844   0.770833  0.500000  0.606557
Decision Tree           0.636872   0.571429  0.486486  0.525547
Random Forest           0.715084   0.671642  0.608108  0.638298
Support Vector Machine  0.653631   0.750000  0.243243  0.367347
K-Nearest Neighbors     0.675978   0.642857  0.486486  0.553846