# ë¹„ì§€ë„í•™ìŠµ ê¸°ë²•ì„ í™œìš©í•œ ìµœì ì˜ 2êµ°ì§‘ ì°¾ê¸° ëª¨ë¸!
### ìš”êµ¬ ì‚¬í•­

íƒ€ì´íƒ€ë‹‰ ë°ì´í„°ì…‹ì—ì„œ ìƒì¡´ ì—¬ë¶€ ë ˆì´ë¸”ì„ ì œì™¸í•œ í›„, ë¹„ì§€ë„í•™ìŠµì„ ì‚¬ìš©í•˜ì—¬ ë°ì´í„°ë¥¼ ë‘ ê°œì˜ êµ°ì§‘ìœ¼ë¡œ ë‚˜ëˆ„ê³ , ì‹¤ì œ ìƒì¡´ ì—¬ë¶€ì™€ì˜ ë¹„êµë¥¼ í†µí•´ êµ°ì§‘í™” ì„±ëŠ¥ì„ í‰ê°€í•©ë‹ˆë‹¤.

- íƒ€ì´íƒ€ë‹‰ ë°ì´í„°ì…‹ ì„ ì¤€ë¹„ í›„ ì „ì²˜ë¦¬ë¥¼ ì§„í–‰í•´ì£¼ì„¸ìš”
(https://raw.githubusercontent.com/datasciencedojo/datasets/master/titanic.csv)
- ë ˆì´ë¸”ì„ ì œì™¸ í›„ ë¹„ì§€ë„ êµ°ì§‘í™” ëª¨ë¸ì„ í•™ìŠµ!
- ê·¸ í›„ ì‹¤ì œ ë ˆì´ë¸”ê³¼ êµ°ì§‘ì„ ë¹„êµí•´ë³¼ê¹Œìš”?

### **ìˆ™ì œ ì •ë³´**

â–  ë‚œì´ë„ : ğŸŸ¡ì¤‘

â–  ì‹¤ìŠµ ë²”ìœ„ : 4ì£¼ì°¨

â–  ì‚¬ìš© ì–¸ì–´ ë° ë¼ì´ë¸ŒëŸ¬ë¦¬ : pandas, scikit-learn

In [1]:
#ë¼ì´ë¸ŒëŸ¬ë¦¬ ì„í¬íŠ¸
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.impute import SimpleImputer

In [3]:
#ë°ì´í„° ë¡œë“œ
train_data = pd.read_csv("https://raw.githubusercontent.com/datasciencedojo/datasets/master/titanic.csv")

In [4]:
#ë°ì´í„° ì¶œë ¥
train_data

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q