In [1]:
#데이터 변형해보기:데이터 정렬과 병합

In [3]:
#데이터 정렬
#pandas에서는 sort_values()와 sort_index()를 사용해 쉽게 데이터를 정렬할 수 있음.

In [11]:
#sort_values()를 사용한 값(Value) 기준 정렬
#특정 열의 값을 기준으로 데이터를 오름차순 또는 내림차순으로 정렬할 수 있음.

import pandas as pd

data = {
    '이름' : ['철수','영희','민수','지수'],
    '나이' : [25,30,22,35],
    '직업' : ['학생','회사원','학생','프리랜서']
}
df = pd.DataFrame(data)

#'나이'를 기준으로 오름차순 정렬
sorted_df = df.sort_values(by='나이')
print(sorted_df)

   이름  나이    직업
2  민수  22    학생
0  철수  25    학생
1  영희  30   회사원
3  지수  35  프리랜서

In [17]:
#'나이'를 기준으로 내림차순 정렬
sorted_df_desc = df.sort_values(by='나이', ascending = False)
print(sorted_df_desc)

   이름  나이    직업
3  지수  35  프리랜서
1  영희  30   회사원
0  철수  25    학생
2  민수  22    학생

In [21]:
#내림차순으로 정렬하려면 ascending = False를 지정.

In [25]:
#sort_values()를 사용한 여러 열 기준 정렬
#여러 열을 기준으로 정렬할 수 있음. 우선 순위에 따라서 첫 번째 열부터 정렬

#'직업'을 기준으로, 같은 직업 내에서 '나이' 오름차순 정렬
sorted_df_multi = df.sort_values(by=['직업','나이'])
print(sorted_df_multi)

   이름  나이    직업
3  지수  35  프리랜서
2  민수  22    학생
0  철수  25    학생
1  영희  30   회사원

In [27]:
#sort_index()를 사용한 인덱스 기준 정렬
#인덱스를 기준으로 데이터를 정렬할 수 있음.

#인덱스 기준으로 정렬
sorted_index_df = df.sort_index()
print(sorted_index_df)

   이름  나이    직업
0  철수  25    학생
1  영희  30   회사원
2  민수  22    학생
3  지수  35  프리랜서

In [29]:
#내림차순으로 인덱스를 정렬하려면 ascending=False를 지정.

#인덱스를 내림차순으로 정렬
sorted_index_df_desc = df.sort_index(ascending=False)
print(sorted_index_df_desc)

   이름  나이    직업
3  지수  35  프리랜서
2  민수  22    학생
1  영희  30   회사원
0  철수  25    학생

In [32]:
#데이터 병합
#pandas에서는 merge(), concat(), join()을 사용해 데이터를 병합할 수 있음.

In [34]:
#merge()를 사용한 데이터프레임 병합
#SQL의 JOIN과 유사하게 두 데이터프레임을 공통 열을 기준으로 병합.

df1= pd.DataFrame({
    '이름' : ['철수','영희','민수'],
    '나이' : [25,30,22]
})

df2 = pd.DataFrame({
    '이름' : ['철수', '영희', '지수'],
    '직업': ['학생', '회사원', '프리랜서']
})

#'이름'을 기준으로 병합
merged_df = pd.merge(df1, df2, on='이름')
print(merged_df)

   이름  나이   직업
0  철수  25   학생
1  영희  30  회사원

In [36]:
#on='이름'
#위 부분을 작성함으로써 '이름'을 기준으로 병합할 수 있었던 것 기억할 것.

In [39]:
#다양한 merge() 방식
#inner(기본값): 공통된 데이터만 병합
#outer: 공통되지 않은 데이터도 포함하여 병합, 없는 값은 NaN으로 채움.
#left: 왼쪽 데이터프레임 기준으로 병합.
#right: 오른쪽 데이터프레임 기준으로 병합.

In [45]:
#outer join을 사용한 병합
merged_df_outer = pd.merge(df1, df2, on='이름', how='outer')
print(merged_df_outer)

   이름    나이    직업
0  민수  22.0   NaN
1  영희  30.0   회사원
2  지수   NaN  프리랜서
3  철수  25.0    학생

In [55]:
#concat()을 사용한 데이터프레임 연결
#행(row) 또는 열(column) 단위로 데이터프레임을 연결할 수 있음.

#행 단위로 데이터프레임 연결
concat_df = pd.concat([df1, df2], axis=0)
print(concat_df)

   이름    나이    직업
0  철수  25.0   NaN
1  영희  30.0   NaN
2  민수  22.0   NaN
0  철수   NaN    학생
1  영희   NaN   회사원
2  지수   NaN  프리랜서

In [59]:
# 열 단위로 데이터프레임 연결
concat_df_axis1 = pd.concat([df1, df2], axis=1)
print(concat_df_axis1)

   이름  나이  이름    직업
0  철수  25  철수    학생
1  영희  30  영희   회사원
2  민수  22  지수  프리랜서

In [65]:
#axis의 의미:
#axis=0: 행 방향으로 연결. 즉, 데이터프레임을 세로로 이어붙입니다.
#axis=1: 열 방향으로 연결. 즉, 데이터프레임을 가로로 이어붙입니다.

In [71]:
#join()을 사용한 데이터프레임 병합
#인덱스를 기준으로 데이터프레임을 병합할 때 사용.

#예시 데이터프레임 생성
df3 = pd.DataFrame({
    '직업' : ['학생', '회사원', '프리랜서'],
    '연봉': [2000, 3000, 4000]
}, index=['철수', '영희', '지수'])

#인덱스를 기준으로 병합
joined_df = df1.set_index('이름').join(df3)
print(joined_df)

    나이   직업      연봉
이름
철수  25   학생  2000.0
영희  30  회사원  3000.0
민수  22  NaN     NaN

In [ ]:
#요약
#데이터 정렬은 sort_values()로 특정 열 기준으로, sort_index()로 인덱스 기준으로 정렬할 수 있다.
#데이터 병합은 merge()를 사용해 공통 열을 기준으로 병합하거나, concat()을 사용해 행 또는 열 단위로 연결할 수 있다.
#인덱스를 기준으로 병합할 때는 join()을 사용할 수 있으며, 다양한 병합 방식(innner, outer, left, right)이 지원.