In [1]:
#판다스 사용을 위해 데이터를 불러오기와 저장하기

In [3]:
#CSV 파일 불러오기
# CSV 파일은 가장 많이 사용되는 데이터 형식 중 하나.
# pandas에서는 read_csv 함수를 사용해서 쉽게 불러올 수 있음.

In [8]:
import pandas as pd

#CSV 파일 불러오기
df_csv = pd.read_csv('test.csv')
print(df_csv)

       상권번호       상권명  시도코드    시도명  시군구코드 시군구명  상권좌표수  \
0      9138     공덕역_1    11  서울특별시  11440  마포구     19
1      9139     공덕역_2    11  서울특별시  11440  마포구     25
2      9140  디지털미디어시티    11  서울특별시  11440  마포구     44
3      9141     마포역_1    11  서울특별시  11440  마포구     54
4      9142     마포역_2    11  서울특별시  11440  마포구     44
...     ...       ...   ...    ...    ...  ...    ...
1162  10372  동아대부민캠퍼스    26  부산광역시  26140   서구      6
1163  10373     동대신동역    26  부산광역시  26140   서구      5
1164  10374     동아대병원    26  부산광역시  26140   서구      7
1165  10375     하단역 3    26  부산광역시  26380  사하구      7
1166  10376     다대포항역    26  부산광역시  26380  사하구     13

                                                   상권좌표     데이터기준일자
0     126.951086855113,37.5437086852164|126.95108685...  2020.12.31
1     126.95321229004,37.5466265375676|126.953212291...  2020.12.31
2     126.887123962571,37.5834487598235|126.88655960...  2020.12.31
3     126.949848889864,37.5421381698383|126.94983757...  2020.12.31
4     126.947814199015,37.5432207096313|126.94780571...  2020.12.31
...                                                 ...         ...
1162  129.021141559118,35.103350139431|129.021257888...  2020.12.31
1163  129.015235871206,35.1120140488436|129.01703930...  2020.12.31
1164  129.016351590164,35.1194662001032|129.01652337...  2020.12.31
1165  128.968231685786,35.106090309415|128.961760672...  2020.12.31
1166  128.971395098319,35.0561584604433|128.97099481...  2020.12.31

[1167 rows x 9 columns]

In [10]:
# 앞에서부터 5개의 데이터만 출력
print(df_csv.head())

   상권번호       상권명  시도코드    시도명  시군구코드 시군구명  상권좌표수  \
0  9138     공덕역_1    11  서울특별시  11440  마포구     19
1  9139     공덕역_2    11  서울특별시  11440  마포구     25
2  9140  디지털미디어시티    11  서울특별시  11440  마포구     44
3  9141     마포역_1    11  서울특별시  11440  마포구     54
4  9142     마포역_2    11  서울특별시  11440  마포구     44

                                                상권좌표     데이터기준일자
0  126.951086855113,37.5437086852164|126.95108685...  2020.12.31
1  126.95321229004,37.5466265375676|126.953212291...  2020.12.31
2  126.887123962571,37.5834487598235|126.88655960...  2020.12.31
3  126.949848889864,37.5421381698383|126.94983757...  2020.12.31
4  126.947814199015,37.5432207096313|126.94780571...  2020.12.31

In [12]:
#뒤에서부터 5개의 데이터만 출력
print(df_csv.tail())

       상권번호       상권명  시도코드    시도명  시군구코드 시군구명  상권좌표수  \
1162  10372  동아대부민캠퍼스    26  부산광역시  26140   서구      6
1163  10373     동대신동역    26  부산광역시  26140   서구      5
1164  10374     동아대병원    26  부산광역시  26140   서구      7
1165  10375     하단역 3    26  부산광역시  26380  사하구      7
1166  10376     다대포항역    26  부산광역시  26380  사하구     13

                                                   상권좌표     데이터기준일자
1162  129.021141559118,35.103350139431|129.021257888...  2020.12.31
1163  129.015235871206,35.1120140488436|129.01703930...  2020.12.31
1164  129.016351590164,35.1194662001032|129.01652337...  2020.12.31
1165  128.968231685786,35.106090309415|128.961760672...  2020.12.31
1166  128.971395098319,35.0561584604433|128.97099481...  2020.12.31

In [14]:
#주요 옵션
#sep: 구분자를 지정. 기본값은 ,임.
#header: 헤더 행을 지정. 기본값은 첫 번째 행(0)임.

#만약 데이터가 탭으로 구분되어 있다면?
#df_csv = pd.read_csv("test.csv", sep='\\t'

In [20]:
#URL에서 CSV 파일 불러오기: 인터넷에 있는 CSV 파일을 바로 불러올 수 있음.
url = 'https://raw.githubusercontent.com/datasciencedojo/datasets/master/titanic.csv'
df_csv_url = pd.read_csv(url)
print(df_csv_url.head())

   PassengerId  Survived  Pclass  \
0            1         0       3
1            2         1       1
2            3         1       3
3            4         1       1
4            5         0       3

                                                Name     Sex   Age  SibSp  \
0                            Braund, Mr. Owen Harris    male  22.0      1
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                             Heikkinen, Miss. Laina  female  26.0      0
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                           Allen, Mr. William Henry    male  35.0      0

   Parch            Ticket     Fare Cabin Embarked
0      0         A/5 21171   7.2500   NaN        S
1      0          PC 17599  71.2833   C85        C
2      0  STON/O2. 3101282   7.9250   NaN        S
3      0            113803  53.1000  C123        S
4      0            373450   8.0500   NaN        S

In [23]:
#Excel 파일 불러오기
df_excel = pd.read_excel('data.xlsx')
print(df_excel.head())

   이름  나이    직업
0  철수  25    학생
1  영희  30   회사원
2  민수  35  프리랜서

In [25]:
#주요 옵션
#sheet_name: 읽고자 하는 시트 이름 또는 번호를 지정. 기본값은 첫 번째 시트(0)임.
#header: 헤더 행을 지정. 기본 값은 첫 번째 행(0)임.

#예시) 특정 시트의 데이터 불러오기
#df_excel = pd.read_excel('data.xlsx, sheet_name='Sheet2')

In [27]:
#URL에서 Excel 파일 불러오기: URL을 통해 Excel 파일도 불러올 수 있음.
# url = 'https://example.com/data.xlsx'
# df_excel_url = pd.read_excel(url)
# print(df_excel_url)

In [30]:
#JSON 파일 블러오기

In [34]:
df_json = pd.read_json('test.json')
print(df_json)

                                               users
0  {'userId': 1, 'firstName': 'AAAAA', 'lastName'...
1  {'userId': 2, 'firstName': 'BBBB', 'lastName':...
2  {'userId': 3, 'firstName': 'CCCCC', 'lastName'...
3  {'userId': 4, 'firstName': 'DDDDD', 'lastName'...
4  {'userId': 5, 'firstName': 'EEEEE', 'lastName'...

In [36]:
#주요 옵션
# orient: JSON 데이터의 형식을 지정. 기본값은 column임.

In [40]:
#URL에서 JSON 파일 불러오기: URL을 통해 JSON 파일도 불러올 수 있음.
# url = 'https://example.com/data.json'
# df_json_url = pd.read_json(url)
# print(df_json_url)

In [43]:
#CSV, Excel, JSON, SQL 등 다양한 형식으로 데이터 저장하기

In [45]:
# CSV 파일로 저장하기
#CSV 파일은 데이터를 저장할 때 가장 널리 사용되는 형식 중 하나.
#판다스에서는 to_csv 함수를 사용해 데이터를 쉽게 CSV 파일로 저장할 수 있음.

In [49]:
import pandas as pd

#예시 데이터 프레임 생성
df = pd.DataFrame({
    '이름': ['철수','영희','민수'],
    '나이': [25,30,35],
    '직업': ['학생','회사원','프리랜서']
})

#csv 파일로 저장하기
df.to_csv('data.csv', index=False)

In [51]:
#주요 옵션
# index = False: 인덱스를 제외하고 저장.
# sep: 구분자를 지정. 기본값은 ,임.

In [53]:
#URL로 저장하기: URL 경로가 아닌, 로컬 파일 시스템에 저장하는 방식이므로, URL을 지정할 수 없음.

In [56]:
#Excel 파일로 저장하기
#Excel 파일 형식으로 저장하려면 to_excel 함수를 사용.

In [58]:
#Excel 파일로 저장하기
df.to_excel("data.xlsx", index = False)

In [60]:
#주요 옵션
#sheet_name: 저장할 시트 이름을 지정. 기본 값은 Sheet1임.
#index = False: 인덱스를 제외하고 저장.

In [63]:
#JSON 파일로 저장하기
#JSON 파일 형식으로 저장하려면 to_json 함수 사용.

In [65]:
#JSON 파일로 저장하기
df.to_json('data.json')

In [67]:
#주요 옵션
#orient: JSON 형식을 지정. 기본값은 columns임. records, index 등 다양한 형식으로 저장할 수 있음.

In [71]:
#레코드 형식으로 저장하기
df.to_json('data_records.json', orient = 'records')

In [74]:
#SQL 데이터베이스에 저장하기
#데이터를 SQL 데이터베이스에 저장하려면 to_sql 함수를 사용하고, 데이터베이스 연결이 필요.

In [78]:
import sqlite3

# SQLite 데이터베이스 연결
conn = sqlite3.connect('database.db')

# 데이터프레임을 SQL 테이블로 저장하기
df.to_sql('table_name', conn, if_exists='replace', index=False)

# 연결 종료
conn.close()

In [ ]:
#주요 옵션
#name: 저장할 테이블 이름을 지정
#con: 데이터베이스 연결 객체를 지정
#if_exists: 테이블이 이미 존재할 경우 동작을 지정 (replace, append, fail 중 선택)
# index = False: 인덱스를 제외하고 저장