In [1]:
#조건부 필터링과 데이터 타입 변환

In [3]:
#조건부 필터링
#조건부 필터링을 통해 데이터프레임에서 특정 조건을 만족하는 데이터만 선택할 수 있음.

In [7]:
#기본 조건부 필터링

import pandas as pd

#데이터 프레임 생성
data = {
    '이름': ['철수','영희','민수','지수'],
    '나이': [25,30,22,35],
    '직업': ['학생','회사원','학셍','프리랜서']
}
df = pd.DataFrame(data)

#나이가 25 이상인 행만 선택
filtered_df = df[df['나이']>=25]

print(filtered_df)

   이름  나이    직업
0  철수  25    학생
1  영희  30   회사원
3  지수  35  프리랜서

In [18]:
#여러 조건을 사용한 필터링
#여러 조건을 결합하여 필터링할 수 있음.
#AND(&), OR(|) 연산자 사용.

#나이가 25 이상이고, 직업이 '학생'인 행만 선택
filtered_df = df[(df['나이']>=25) & (df['직업'] == '학생')]

print(filtered_df)

   이름  나이  직업
0  철수  25  학생

In [21]:
#isin()을 사용한 필터링
#특정 값들이 포함된 행을 필터링할 때 유용.

#직업이 '학생' 또는 '프리랜서'인 행 선택
filtered_df = df[df['직업'].isin(['학생', '프리랜서'])]
print(filtered_df)

   이름  나이    직업
0  철수  25    학생
3  지수  35  프리랜서

In [26]:
#연산자를 사용한 반대 조건 필터링
#특정 조건을 부정하는 데이터를 선택할 때 사용.

#직업이 '학생'이 아닌 행 선택
filtered_df = df[~(df['직업'] =='학생')]
print(filtered_df)

   이름  나이    직업
1  영희  30   회사원
2  민수  22    학셍
3  지수  35  프리랜서

In [29]:
#데이터 타입 변환

In [33]:
#dtypes으로 데이터 타입 확인

print(df.dtypes)

이름    object
나이     int64
직업    object
dtype: object

In [35]:
#astype()을 사용한 데이터 타입 변환
#astype() 함수로 특정 열의 데이터 타입을 변경할 수 있음.

#'나이'열을 정수형(int)에서 실수형(float)으로 변환
df['나이'] = df['나이'].astype(float)
print(df.dtypes)

이름     object
나이    float64
직업     object
dtype: object

In [52]:
#날짜 타입으로 변환
#날짜 데이터는 pd.to_datetime() 함수를 사용해 날짜 타입으로 변환할 수 있음.

data = {
    '이름' : ['철수','영희','민수'],
    '가입일' : ['2023-01-01', '2022-12-15', '2023-05-22'],
    '직업' : ['학생', '프리랜서', '백수']
}
df = pd.DataFrame(data)

#'가입일'을 날짜 타입으로 변환
df['가입일'] = pd.to_datetime(df['가입일'])
print(df.dtypes)

이름             object
가입일    datetime64[ns]
직업             object
dtype: object

In [54]:
#카테고리 데이터로 변환
#카테고리 메모리를 절약하고, 성능을 높이기 위해 사용.

#'직업' 열을 카테고리형으로 변환
df['직업'] = df['직업'].astype('category')
print(df.dtypes)

이름             object
가입일    datetime64[ns]
직업           category
dtype: object