In [13]:
import pandas as pd

In [15]:
#예시: 시리즈 생성
s = pd.Series([10,20,30,40], index=['a','b','c','d'])

In [17]:
#출력 시, 인덱스와 데이터 값이 쌍으로 구성
s

a    10
b    20
c    30
d    40
dtype: int64

In [19]:
#시리즈는 1차원 배열과 같은 데이터 구조

In [22]:
#데이터프레임

In [28]:
#데이터 프레임 생성
data = {
    '이름': ['철수','영희','민수'],
    '나이': [25,30,35],
    '직업': ['학생','회사원','프리랜서']
}

df=pd.DataFrame(data)

In [30]:
df

   이름  나이    직업
0  철수  25    학생
1  영희  30   회사원
2  민수  35  프리랜서

In [32]:
#데이터 프레임은 2차원 표 형태 데이터 구조
#여러 개의 시리즈가 모여서 만들어짐

In [35]:
#데이터 프레임에서 시리즈 다루기

In [531]:
age_series = df['나이']
print(age_series)

0    25
1    30
2    35
Name: 나이, dtype: int64

In [533]:
#데이터 프레임의 열을 선택할 때, 문자열을 사용하면 시리즈가 반환됨.
#중복된 인덱스가 있을 때는 시리즈가 복잡해질 수 있으니, 유일한 인덱스를 사용하는 것이 좋음.